

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-size: 100%;
    background: linear-gradient(180deg, #FFE5ED 0%, #FFACC6 100%);
mix-blend-mode: normal;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


div#footer {
    display: inline-block;
}